body {
  margin: 0;
  background: linear-gradient(to top, #04f1e6 15%, #8f57fd 50%);
  font-family: "Muli", sans-serif;
}

.header {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 220px 1fr 120px;
  grid-template-rows: 80px;
}

.header__img {
  width: 200px;
  grid-column-start: 1;
  place-self: start;
  padding: 15px 0 0 15px;
}

.header__menu {
  grid-column-end: 4;
  place-self: start end;
  padding: 15px 15px 0 0;
  text-align: right;
}

.header__menu img {
  color: white;
  height: 50px;
  width: 50px;
  margin: 0 10px 0 0;
}

.header__menu p {
  display: ruby-text-container;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu a {
  color: white;
  text-decoration: none;
}

.header__menu a:hover {
  text-decoration: underline;
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu--profile {
  color: white;
}